* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFF2F9;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 46px;
    margin: 0px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 16px;
}

h3 {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 16px;
}

.hidden {
    visibility: hidden;
}

.container {
    max-width: 600px;
    margin: 40px auto;
}

.search-container {
    min-width: 600px;
}

.input-city {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #707bfa;
    padding: 8px 16px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.6;
    transition: border 0.3s ease;
}

.input-city:hover {
    cursor: pointer;
    border-color: #4b21f3;
}

.input-city:focus {
    outline: none;
    border-color: #4b21f3;
    box-shadow: 0 2px 6px rgba(172, 165, 189, 0.2);
    transform: scale(1.01);
}

.buttons {
    display: flex;
    width: 100%;
    max-width: calc(160px + 46px + 8px);
    gap: 8px;
}

.btn {
    border-radius: 4px;
    border: none;
    font-size: 14px;
    line-height: 1.6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-search {
    color: #ffffff;
    background-color: #4e5cf9;
    flex-grow: 1;
    min-width: 0;
    max-width: 160px;
    gap: 6px;

    transition:  0.3s ease;
}

.btn-search i {
    font-size: 16px;
}

.btn-search:hover {
    cursor: pointer;
    background-color: #4b21f3;
}

.btn-geo {
    background-color: #fcfcff;
    flex-shrink: 0;
    width: 46px;
    height: 40px;
    padding: 8px;

    transition:  0.3s ease;
}

.btn-geo i {
  font-size: 16px;
}

.btn-geo:hover {
    cursor: pointer;
    color: #4b21f3;
}

.weather {
    display: none;
}

.weather__main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
    background-color: #fcfcff;
    margin-bottom: 12px;
    padding: 16px;
}

.weather__main h2 {
    width: 96%;
}

.fa-bookmark {
    margin-bottom: 24px;
    transition:  0.3s ease;
}

.fa-bookmark:hover {
    cursor: pointer;
    color: #4b21f3;
}

.weather__general-item {
    flex-direction: row !important;
}

.weather__main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    font-size: 14px;
    color: #b9bbcb;
}

.weather__main-item span {
    color: #000;
    margin-top: 8px;
    font-size: 16px;
}

.main-temperature {
    font-size: 46px !important; 
    font-weight: 500 !important;
    color: #4e5cf9 !important;
}

.main-temperature span {
    font-size: 50px; 
    font-weight: 500;
    color: #4e5cf9;
}

.weather__main-item:first-child img {
    width: 50px;
}

.weather__additional {
    display: flex;
    gap: 12px;
}

.weather__additional-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #fcfcff;

    font-size: 14px;
    color: #b9bbcb;
    width: 100%;
    padding: 16px;
}

.weather__additional-item span {
    color: black;
    margin-top: 4px;
    font-size: 16px;
}

.weather__additional-item i {
    font-size: 24px;
    color: #4e5cf9;
    margin-bottom: 8px;
}

.savedCities {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    gap: 8px;
}

.bookmark__savedCities h3 {
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.savedCity {
    padding: 12px;
    background-color: #fff;
    border-radius: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}

.savedCity i {
    font-size: 12px;
    color: #b1b1b1;
    margin-left: 8px;
}

.savedCity i:hover {
    cursor: pointer;
    color: #4b21f3;
}

#weatherIcon {
    font-size: 56px;
    margin-right: 12px;

}

#savedCityesTitle {
    display: none;
}